{
  "bracketSameLine": true,
  "endOfLine": "lf",
  "importTypeOrder": ["NPMPackages", "localImportsType", "localImportsValue"],
  "newlineBetweenTypes": true,
  "plugins": ["prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "stripNewlines": true,
  "tabWidth": 2,
  "tailwindFunctions": ["cn", "cva", "clsx"],
  "trailingComma": "all",
  "useTabs": false
}
